@{
    Layout = null;
}
<html style="" class=" js flexbox canvas canvastext webgl no-touch geolocation postmessage websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients cssreflections csstransforms csstransforms3d csstransitions fontface generatedcontent video audio localstorage sessionstorage webworkers applicationcache svg inlinesvg smil svgclippaths">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Policy</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">

    <!-- Facebook and Twitter integration -->
    <meta property="og:title" content="">
    <meta property="og:image" content="">
    <meta property="og:url" content="">
    <meta property="og:site_name" content="">
    <meta property="og:description" content="">
    <meta name="twitter:title" content="">
    <meta name="twitter:image" content="">
    <meta name="twitter:url" content="">
    <meta name="twitter:card" content="">

    <link href="https://fonts.googleapis.com/css?family=Rubik:300,400,500,700,900" rel="stylesheet">

    <!-- Animate.css -->
    <link rel="stylesheet" href="~/Content/css/animate.css">
    <!-- Icomoon Icon Fonts-->
    <link rel="stylesheet" href="~/Content/css/icomoon.css">
    <!-- Bootstrap  -->
    <link rel="stylesheet" href="~/Content/css/bootstrap.css">

    <!-- Magnific Popup -->
    <link rel="stylesheet" href="~/Content/css/magnific-popup.css">

    <!-- Flexslider  -->
    <link rel="stylesheet" href="~/Content/css/flexslider.css">

    <!-- Owl Carousel -->
    <link rel="stylesheet" href="~/Content/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/Content/css/owl.theme.default.min.css">

    <!-- Flaticons  -->
    <link rel="stylesheet" href="~/Content/fonts/flaticon/font/flaticon.css">

    <!-- Theme style  -->
    <link rel="stylesheet" href="~/Content/css/style.css">

    <!-- Modernizr JS -->
    <script src="~/Content/js/modernizr-2.6.2.min.js"></script>
    <!-- FOR IE9 below -->
    <!--[if lt IE 9]>
    <script src="js/respond.min.js"></script>
    <![endif]-->

</head>
<body>

    <div class="colorlib-loader" style="display: none;"></div>

    <div id="page">
        <a href="#" class="js-colorlib-nav-toggle colorlib-nav-toggle colorlib-nav-white"><i></i></a><div id="colorlib-offcanvas">
            <ul>
                <li class="active"><a href="index.html">Home</a></li>
                <li class="offcanvas-has-dropdown">
                    <a href="courses.html">Courses</a>
                    <ul class="dropdown">
                        <li><a href="courses-single.html">Courses Single</a></li>
                        <li><a href="#">Mobile Apps</a></li>
                        <li><a href="#">Website</a></li>
                        <li><a href="#">Web Design</a></li>
                        <li><a href="#">WordPress</a></li>
                    </ul>
                </li>
                <li><a href="teachers.html">Teachers</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="event.html">Events</a></li>
                <li><a href="news.html">News</a></li>
                <li><a href="contact.html">Contact</a></li>
                <li class="btn-cta"><a href="#"><span>Get started</span></a></li>
            </ul>
        </div>
        <nav class="colorlib-nav" role="navigation">
            <div class="upper-menu">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-4">
                            <p>The ideal WordPress theme for online learning center</p>
                        </div>
                        <div class="col-xs-6 col-md-push-2 text-right">
                            <p class="btn-apply"><a href="#">Our Vision</a> <a href="#">Our Missions</a> <a href="#">Sign Up</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="top-menu">
                <div class="container">
                    <div class="row">
                        <div class="col-md-2">
                            <div id="colorlib-logo"><a href="index.html">Knowledge</a></div>
                        </div>
                        <div class="col-md-10 text-right menu-1">
                            <ul>
                                <li class="active"><a href="index.html">Home</a></li>
                                <li class="has-dropdown">
                                    <a href="courses.html">Courses</a>
                                    <ul class="dropdown" style="display: none;">
                                        <li><a href="courses-single.html">Courses Single</a></li>
                                        <li><a href="#">Mobile Apps</a></li>
                                        <li><a href="#">Website</a></li>
                                        <li><a href="#">Web Design</a></li>
                                        <li><a href="#">WordPress</a></li>
                                    </ul>
                                </li>
                                <li><a href="teachers.html">Teachers</a></li>
                                <li><a href="about.html">About</a></li>
                                <li><a href="event.html">Events</a></li>
                                <li><a href="news.html">News</a></li>
                                <li><a href="contact.html">Contact</a></li>
                                <li class="btn-cta"><a href="#"><span>Get started</span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        <aside id="colorlib-hero">
            <div class="flexslider">
                <ul class="slides">
                    <li style="background-image:url(../../../Content/images/img_bg_1.jpg); width: 100%; float: left; margin-right: -100%; position: relative; opacity: 0; display: block; z-index: 1;" class="" data-thumb-alt="">
                        <div class="overlay"></div>
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-8 col-sm-12 col-md-offset-2 col-xs-12 col-md-pull-1 slider-text">
                                    <div class="slider-text-inner">
                                        <div class="desc">
                                            <h2>You only have to know one thing</h2>
                                            <h1>Best Online Learning System</h1>
                                            <p><a href="https://vimeo.com/channels/staffpicks/93951774" class="btn btn-primary btn-lg popup-vimeo"><span class="icon"><i class="icon-play3"></i></span> Start Learning Now!</a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li style="background-image: url(../../../Content/images/img_bg_5.jpg); width: 100%; float: left; margin-right: -100%; position: relative; opacity: 1; display: block; z-index: 2;" data-thumb-alt="" class="flex-active-slide">
                        <div class="overlay"></div>
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-8 col-sm-12 col-md-offset-2 col-xs-12 col-md-pull-1 slider-text animated fadeInUp">
                                    <div class="slider-text-inner">
                                        <div class="desc">
                                            <h2>You only have to know one thing</h2>
                                            <h1>Online Free Course</h1>
                                            <p><a href="https://vimeo.com/channels/staffpicks/93951774" class="btn btn-primary btn-lg popup-vimeo"><span class="icon"><i class="icon-play3"></i></span> Start Learning Now!</a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li style="background-image: url(../../../Content/images/img_bg_3.jpg); width: 100%; float: left; margin-right: -100%; position: relative; opacity: 0; display: block; z-index: 1;" data-thumb-alt="" class="">
                        <div class="overlay"></div>
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-8 col-sm-12 col-md-offset-2 col-xs-12 col-md-pull-1 slider-text">
                                    <div class="slider-text-inner">
                                        <div class="desc">
                                            <h2>You only have to know one thing</h2>
                                            <h1>Education is a Key to Success</h1>
                                            <p><a href="https://vimeo.com/channels/staffpicks/93951774" class="btn btn-primary btn-lg popup-vimeo"><span class="icon"><i class="icon-play3"></i></span> Start Leaning Now!</a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li style="background-image: url(../../../Content/images/img_bg_4.jpg); width: 100%; float: left; margin-right: -100%; position: relative; opacity: 0; display: block; z-index: 1;" data-thumb-alt="" class="">
                        <div class="overlay"></div>
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-8 col-sm-12 col-md-offset-2 col-xs-12 col-md-pull-1 slider-text">
                                    <div class="slider-text-inner">
                                        <div class="desc">
                                            <h2>You only have to know one thing</h2>
                                            <h1>Best Online Learning Center</h1>
                                            <p><a href="https://vimeo.com/channels/staffpicks/93951774" class="btn btn-primary btn-lg popup-vimeo"><span class="icon"><i class="icon-play3"></i></span> Start Learning Now!</a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
                <ol class="flex-control-nav flex-control-paging"><li><a href="#" class="">1</a></li><li><a href="#" class="flex-active">2</a></li><li><a href="#" class="">3</a></li><li><a href="#" class="">4</a></li></ol><ul class="flex-direction-nav"><li class="flex-nav-prev"><a class="flex-prev" href="#">Previous</a></li><li class="flex-nav-next"><a class="flex-next" href="#">Next</a></li></ul>
            </div>
        </aside>
        <div class="container-fluid">
            <h1 class="text-center" style="font-weight:bolder;color:#4586fe;">CÁC QUY ĐỊNH VÀ CHÍNH SÁCH</h1>
            <hr />
            <div class="row">
                <div class="col-sm-4" style="padding: 50px 0 0 50px; border-right:1px solid #efefef;">
                    <ul class="nav nav-pills nav-stacked">
                        <li><a data-toggle="tab" href="#menu1">Quy định sử dụng tiền trong tài khoản</a></li>
                        <li><a data-toggle="tab" href="#menu2">Quy định của học viên</a></li>
                        <li><a data-toggle="tab" href="#menu3">Quy định của gia sư</a></li>
                        <li><a data-toggle="tab" href="#menu4">Quy định xử lý tranh chấp tài khoản/ vi phạm quy định bảo mật tài khoản</a></li>
                        <li><a data-toggle="tab" href="#menu5">Chính sách bảo mật</a></li>
                    </ul>
                </div>
                <div class="col-sm-8" style="padding: 50px 50px; ">
                    <div class="tab-content">
                        <div id="menu1" class="tab-pane fade in active">
                            <h3>Quy định sử dụng tiền trong tài khoản</h3>
                            <strong>1. Các định nghĩa chính:</strong>
                            <p><b>Ngày mở khóa học:</b> Ngày khóa học xuất hiện trên hệ thống, Bạn có thể truy cập và học các bài giảng, học liệu miễn phí, chưa được đăng ký khóa học.</p>
                            <p><b>Ngày bắt đầu đăng ký:</b> Ngày đầu tiên Bạn được đăng ký khóa học.</p>
                            <p><b>Ngày kết thúc đăng ký:</b> Ngày cuối cùng Bạn đăng ký trọn gói khóa học. Không gia hạn hay bảo lưu khóa học.</p>
                            <p><b>Ngày kết thúc đăng ký:</b> Ngày cuối cùng Bạn đăng ký trọn gói khóa học.</p>
                            <p><b>Ngày bế giảng:</b> Ngày cuối cùng Bạn được học khóa học. Đối với khóa học ngắn hạn, thời gian học được quy định ở từng khóa học.</p>
                            <strong>2. Sử dụng tài khoản chính</strong>
                            <p>Tiền trong tài khoản chính được sử dụng để đăng ký các khoá học vô thời hạn.</p>
                            <strong>3. Sử dụng tài khoản khuyến mãi</strong>
                            <p>Sử dụng tiền khuyến mãi không quá 50% học phí của khóa học, chuyên đề sẽ đăng ký. Thời gian sử dụng khuyến mãi được công bố trong từng chương trình cụ thể.</p>
                            <p>Chỉ áp dụng một chương trình khuyến mại trong 1 thời điểm.</p>
                            <span>Thân mến!</span>
                            <br /><br /><br />
                            <span style="font-size:12px;">Cập nhật lúc - (19:00’) ngày 20 tháng 11 năm 2019</span>
                            <hr />
                        </div>
                        <div id="menu2" class="tab-pane fade">
                            <h3>Quy định của học viên</h3>
                            <strong>1. Qui định về thông tin tài khoản</strong>
                            <p>Học viên cần phải khai báo trung thực về các thông tin cá nhân của mình</p>
                            <p>Những thông tin cần thiết để liên lạc như Số điện thoại, Mail phải được nhập đầy đủ và chính xác; phục vụ cho nhu cầu xác nhận hoặc liên lạc khi cần thiết</p>
                            <strong>2. Qui định sử dụng tiền trong tài khoản</strong>
                            <p>Tiền trong tài khoản sẽ được sử dụng để thuê gia sư theo các gói tuỳ theo từng gia sư (Tuỳ theo cấp độ)</p>
                            <p>Học viên cần phải xác định rõ ràng và chỉ thanh toán khi muốn xác nhận thuê gia sư, số tiền thuê sẽ được thanh toán trực tiếp vào tài khoản của học viên và không thu hồi được sau khi giao dịch kết thúc</p>
                            <strong>3. Cách thức giao tiếp</strong>
                            <p>Học viên có thể nhận được sự hỗ trợ từ ban tư vấn khi cần thiết, bên tư vấn sẽ giải đáp tất cả các vấn đề chỉ liên quan tới trang web hoặc những phản hồi về gia sư mà học viên đăng ký</p>
                            <p>Học viên có thể liên lạc với gia sư sau khi thanh toán thuê gia sư</p>
                            <p>Học viên khi giao tiếp qua các kênh truyển thông tại trang web phải văn minh, tránh Teencode hay các ngôn từ thô lỗ, không phù hợp với môi trường học vấn</p>
                            <span>Thân mến!</span>
                            <br /><br /><br />
                            <span style="font-size:12px;">Cập nhật lúc - (19:00’) ngày 20 tháng 11 năm 2019</span>
                            <hr />
                        </div>
                        <div id="menu3" class="tab-pane fade">
                            <h3>Quy định của gia sư</h3>
                            <strong>1. Qui định về thông tin tài khoản</strong>
                            <p>Gia sư cần phải khai báo trung thực về các thông tin cá nhân của mình</p>
                            <p>Những thông tin cần thiết để liên lạc như Số điện thoại, Mail phải được nhập đầy đủ và chính xác; phục vụ cho nhu cầu xác nhận hoặc liên lạc khi cần thiết</p>
                            <strong>2. Qui định sử dụng tiền trong tài khoản</strong>
                            <p>Tiền trong tài khoản sẽ được sử dụng để đăng ký bài viết (Tuỳ theo cấp độ của gia sư)</p>
                            <p>Gia sư sử dụng tiền trong tài khoản để đăng ký bài trên trang Web, tiên sau khi được đăng ký sẽ không thể thu hổi lại được</p>
                            <strong>3. Cách thức giao tiếp</strong>
                            <p>Gia sư có thể nhận được sự hỗ trợ từ ban tư vấn khi cần thiết, bên tư vấn sẽ giải đáp tất cả các vấn đề chỉ liên quan tới trang web</p>
                            <p>Gia sư có thể liên lạc với học viên sau khi được thuê bởi học viên</p>
                            <p>Gia sư khi giao tiếp qua các kênh truyển thông tại trang web phải văn minh, tránh Teencode hay các ngôn từ thô lỗ, không phù hợp với môi trường học vấn</p>
                            <span>Thân mến!</span>
                            <br /><br /><br />
                            <span style="font-size:12px;">Cập nhật lúc - (19:00’) ngày 20 tháng 11 năm 2019</span>
                            <hr />
                        </div>
                        <div id="menu4" class="tab-pane fade">
                            <h3>Quy định xử lý tranh chấp tài khoản/ vi phạm quy định bảo mật tài khoản</h3>
                            <p>Trường hợp tranh chấp tài khoản/ nghi ngờ vi phạm quy định bảo mật tài khoản, Admin có toàn quyền kiểm tra và xử lý theo quy định:</p>
                            <strong>1. Trường hợp tranh chấp tài khoản:</strong>
                            <p><b>Bước 1:</b> Khoá tài khoản tạm thời trong 30 ngày, và gởi mail tới cho chủ tải khoản</p>
                            <p><b>Bước 2:</b> Trong vòng 30 ngày, chủ tài khoản phải vào mail và xác nhận và đưa ra những thông tin xác nhận và cam đoan tài khoản vẫn đang thuộc quyền sở hữu của chủ tài khoản</p>
                            <p><b>Bước 3:</b> Sau 30 ngày, nếu chủ tải khoản không xác nhận qua mail, tài khoản sẽ được mở lại nhưng sẽ không được hỗ trợ lấy lại tài khoản nếu có tranh trấp về sau</p>
                            <strong>2. Trường hợp vi phạm quy định bảo mật tài khoản:</strong>
                            <p><b>Bước 1:</b> Khóa tài khoản học tập tạm thời trong vòng 10 ngày.</p>
                            <p><b>Bước 2:</b> Trong vòng 10 ngày, Trang web sẽ tiến hành thu thập các bằng chứng về việc vi phạm quy định bảo mật tài khoản và thông tin đến chủ tài khoản.Trường hợp không phát hiện vi phạm, Admin sẽ tiến hành mở lại tài khoản.Trường hợp phát hiện vi phạm bảo mật thông tin tài khoản lần 1, Admin sẽ khóa tài khoản cảnh cáo trong vòng 30 ngày.Trường hợp phát hiện vi phạm bảo mật thông tin tài khoản lần 2, Admin sẽ khóa tài khoản vĩnh viễn.</p>
                            <span>Thân mến!</span>
                            <br /><br /><br />
                            <span style="font-size:12px;">Cập nhật lúc - (19:00’) ngày 20 tháng 11 năm 2019</span>
                            <hr />
                        </div>
                        <div id="menu5" class="tab-pane fade">
                            <h3>Chính sách bảo mật</h3>
                            <p>Chính sách Bảo mật này là một phần không thể tách rời với điều kiện sử dụng trang web. Trang web cam kết sẽ bảo mật các Thông tin cá nhân của Bạn, sẽ nỗ lực hết sức và sử dụng các biện pháp thích hợp để các thông tin mà Bạn cung cấp trong quá trình sử dụng website này được bảo mật và bảo vệ khỏi sự truy cập trái phép. Tuy nhiên, chúng tôi không đảm bảo ngăn chặn được tất cả các truy cập trái phép.</p>
                            <p>Chính sách của Trang web về bảo mật thông tin bao gồm: Loại thông tin Trang web thu thập và lý do thu thập, cách Trang web sử dụng thông tin đó, các lựa chọn mà Trang web cung cấp, bao gồm cả cách truy cập và cập nhật thông tin.</p>
                            <strong>1. Thông tin trang web thu thập.</strong>
                            <p>Trang web thu thập thông tin nhằm cung cấp sản phẩm, dịch vụ tốt hơn cho các Bạn, từ việc tìm hiểu những thông tin cơ bản như thông tin cá nhân: họ và tên, giới tính, ngày sinh; Thông tin liên lạc: số điện thoại, địa chỉ gửi thư, địa chỉ email; Thông tin về thanh toán: thông tin chuyển khoản, mã số thẻ cào; hay các thông tin cá nhân được tự động tạo ra khi Bạn sử dụng website như: thông tin IP, cookies, đăng nhập website...</p>
                            <p>Trang web sẽ thu thập các thông tin từ bạn thông qua việc bạn đăng ký, lịch sử bạn sử dụng dịch vụ, v.v... để có thể đưa ra cho bạn những dịch vụ tốt hơn theo nhu cầu của bạn.</p>
                            <p>Ngoài ra, trang web còn thu thập thông tin vị trí của bạn đề có thể giúp bạn có được những dịch vụ tốt nhất, gần nhất và ổn định nhất</p>
                            <strong>2. Cách Trang web sử dụng thông tin thu thập được</strong>
                            <p>Trang web sẽ sử dụng thông tin thu thập từ tất cả các sản phẩm, dịch vụ của mình để cung cấp, duy trì, bảo vệ và cải thiện các sản phẩm, dịch vụ; nhằm phát triển các sản phẩm, dịch vụ mới và bảo vệ trang web và các thành viên của mình, đồng thời cũng sử dụng thông tin này nhằm cung cấp cho Bạn nội dung phù hợp – như cung cấp cho Bạn các thông tin về sản phẩm, dịch vụ liên quan hơn.</p>
                            <p>Trang web sẽ sử dụng các thông tin như Mail hay SDT của bạn để thông báo cũng như hỗ trợ bạn bất kỳ lúc nào bạn yêu cầu hay tài khoản của bạn gặp những vấn đề bất thường mà chúng tôi cần sự hỗ trợ từ bạn</p>
                            <p>Trang web sẽ sử dụng thông tin đã thu thập được từ các cookie và công nghệ khác nhằm cải thiện trải nghiệm người dùng và chất lượng chung của các sản phẩm, dịch vụ của trang web</p>
                            <span>Thân mến!</span>
                            <br /><br /><br />
                            <span style="font-size:12px;">Cập nhật lúc - (19:00’) ngày 20 tháng 11 năm 2019</span>
                            <hr />
                        </div>
                    </div>
                </div>
            </div>
        </div>








        <footer id="colorlib-footer">
            <div class="container">
                <div class="row row-pb-md">
                    <div class="col-md-3 colorlib-widget">
                        <h4>Contact Info</h4>
                        <ul class="colorlib-footer-links">
                            <li>291 South 21th Street, <br> Suite 721 New York NY 10016</li>
                            <li><a href="tel://1234567920"><i class="icon-phone"></i> + 1235 2355 98</a></li>
                            <li><a href="mailto:info@yoursite.com"><i class="icon-envelope"></i> info@yoursite.com</a></li>
                            <li><a href="http://luxehotel.com"><i class="icon-location4"></i> yourwebsite.com</a></li>
                        </ul>
                    </div>
                    <div class="col-md-2 colorlib-widget">
                        <h4>Programs</h4>
                        <p>
                        </p><ul class="colorlib-footer-links">
                            <li><a href="#"><i class="icon-check"></i> Diploma Degree</a></li>
                            <li><a href="#"><i class="icon-check"></i> BS Degree</a></li>
                            <li><a href="#"><i class="icon-check"></i> Beginner</a></li>
                            <li><a href="#"><i class="icon-check"></i> Intermediate</a></li>
                            <li><a href="#"><i class="icon-check"></i> Advance</a></li>
                            <li><a href="#"><i class="icon-check"></i> Difficulty</a></li>
                        </ul>
                        <p></p>
                    </div>
                    <div class="col-md-2 colorlib-widget">
                        <h4>Useful Links</h4>
                        <p>
                        </p><ul class="colorlib-footer-links">
                            <li><a href="#"><i class="icon-check"></i> About Us</a></li>
                            <li><a href="#"><i class="icon-check"></i> Testimonials</a></li>
                            <li><a href="#"><i class="icon-check"></i> Courses</a></li>
                            <li><a href="#"><i class="icon-check"></i> Event</a></li>
                            <li><a href="#"><i class="icon-check"></i> News</a></li>
                            <li><a href="#"><i class="icon-check"></i> Contact</a></li>
                        </ul>
                        <p></p>
                    </div>

                    <div class="col-md-2 colorlib-widget">
                        <h4>Support</h4>
                        <p>
                        </p><ul class="colorlib-footer-links">
                            <li><a href="#"><i class="icon-check"></i> Documentation</a></li>
                            <li><a href="#"><i class="icon-check"></i> Forums</a></li>
                            <li><a href="#"><i class="icon-check"></i> Help &amp; Support</a></li>
                            <li><a href="#"><i class="icon-check"></i> Scholarship</a></li>
                            <li><a href="#"><i class="icon-check"></i> Student Transport</a></li>
                            <li><a href="#"><i class="icon-check"></i> Release Status</a></li>
                        </ul>
                        <p></p>
                    </div>

                    <div class="col-md-3 colorlib-widget">
                        <h4>Recent Post</h4>
                        <div class="f-blog">
                            <a href="blog.html" class="blog-img" style="background-image: url(../Content/images/blog-1.jpg);">
                            </a>
                            <div class="desc">
                                <h2><a href="blog.html">Creating Mobile Apps</a></h2>
                                <p class="admin"><span>18 April 2018</span></p>
                            </div>
                        </div>
                        <div class="f-blog">
                            <a href="blog.html" class="blog-img" style="background-image: url(../Content/images/blog-2.jpg);">
                            </a>
                            <div class="desc">
                                <h2><a href="blog.html">Creating Mobile Apps</a></h2>
                                <p class="admin"><span>18 April 2018</span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="copy">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <p>
                                <small class="block">
                                    © <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                    Copyright ©
                                    <script>document.write(new Date().getFullYear());</script>2019 All rights reserved | This template is made with <i class="icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                </small><br>
                                <small class="block">Demo Images: <a href="http://unsplash.co/" target="_blank">Unsplash</a>, <a href="http://pexels.com/" target="_blank">Pexels</a></small>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    <div class="gototop js-top active">
        <a href="#" class="js-gotop"><i class="icon-arrow-up2"></i></a>
    </div>

    <!-- jQuery -->
    <script src="~/Content/js/jquery.min.js"></script>
    <!-- jQuery Easing -->
    <script src="~/Content/js/jquery.easing.1.3.js"></script>
    <!-- Bootstrap -->
    <script src="~/Content/js/bootstrap.min.js"></script>
    <!-- Waypoints -->
    <script src="~/Content/js/jquery.waypoints.min.js"></script>
    <!-- Stellar Parallax -->
    <script src="~/Content/js/jquery.stellar.min.js"></script>
    <!-- Flexslider -->
    <script src="~/Content/js/jquery.flexslider-min.js"></script>
    <!-- Owl carousel -->
    <script src="~/Content/js/owl.carousel.min.js"></script>
    <!-- Magnific Popup -->
    <script src="~/Content/js/jquery.magnific-popup.min.js"></script>
    <script src="~/Content/js/magnific-popup-options.js"></script>
    <!-- Counters -->
    <script src="~/Content/js/jquery.countTo.js"></script>
    <!-- Main -->
    <script src="~/Content/js/main.js"></script>

    <script src="~/Content/js/myScript.js"></script>

    <style>
        .tab-content p {
            padding-left: 50px;
        }

        .tab-content h3, b, strong {
            color: #4586fe;
        }

        .tab-content * {
            line-height: 50px;
        }
    </style>
</body>
</html>